<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:image" content="https://www.flipsidetalk.com/img/obama.jpg" />
  <meta property="og:description" content="Share your opinion on the recently-published letter by UChicago faculty voicing their concerns with the current Obama Center proposal." />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="styles/main.css" rel="stylesheet">
  <!-- EJS interpolation for title -->
  <title>
    <%= title %>
  </title>
</head>

<body>
  <div id="root" v-cloak>
    <div class="metabar u-boxShadow u-fixed u-backgroundTransparent">
      <div class="metabar-inner u-marginAuto u-maxWidth1200 u-paddingLeft20 u-paddingRight20">
        <div class="metabar-top u-height65">
          <div class="u-floatLeft">
            <a class="nav-brand" href="http://www.flipsidetalk.com">
              <img class="nav-brand-logo" src="../img/logo.png" alt="Logo">
            </a>
            <div class="u-alignMiddle u-inlineBlock">
              <span class="u-inlineBlock u-height25 u-verticalAlignMiddle u-marginRight20 u-borderRightLighter"></span>
            </div>
            <div class="u-alignMiddle u-inlineBlock u-verticalAlignMiddle">
              <h3 class="topic u-marginTop0">Flipside</h3>
            </div>
          </div>
          <div class="u-floatRight">
            <div class="u-alignMiddle u-inlineBlock u-verticalAlignTop u-height65">
              <div class="u-alignBlock">
                <div class="buttonset">
                  <div v-if="user !== undefined">
                    <span>Welcome, {{user.name}} &bull;</span> <a class="logout-link" href="/logout">Logout</a>
                  </div>
                  <span v-else>
                    <a class="button u-paddingRight20" href="#faq-modal" data-toggle="modal">FAQs</a>
                    <a class="button" href="#sign-in-modal" data-toggle="modal">Sign in / Sign up</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="metabar-inner u-marginAuto u-maxWidth1200">
      </div>
    </div>
    <!--takes component headercomp, passes headercomp data, could also pass data for other comps-->
    <!-- BEGIN # MODAL LOGIN -->
    <div class="modal fade" id="sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <button type="button" class="close u-fontSize45" data-dismiss="modal">&times;</button>

        <div class="modal-content">
          <div class="modal-header" align="center">
            <img src="../img/logo.png" alt="Logo" style="height:60px;" class="u-paddingTop10">
            <h2>Flipside</h2>
            <h3 class="weight-lighter">Sign up to interact with and learn about different perspectives</h3>
          </div>
          <!-- Begin # Login Form -->
            <div class="modal-body">
              <div class="overlay-content">
                <button onclick="window.location.href='/auth/facebook'" style="white-space: normal;" class="btn btn-primary facebookSign u-sizeFullWidth u-lighter u-fontSize20 u-maxHeight350"><span class="fa fa-facebook"></span> Sign in through Facebook
                  <p class="u-lighter u-fontSize12">We won't post anything without asking</p>
                </button>
                <div class="u-marginAuto u-inline-block u-paddingTop10 center">
                  <a href="#email-signup-modal" id="switch-to-email" class="u-lighter u-fontSize14">or sign in with email</a>
                </div>
              </div>
            </div>
          <!-- End # Login Form -->
        </div>
      </div>
    </div>
    <!-- END # MODAL LOGIN -->


    <div class="modal fade" id="email-signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <button type="button" class="close u-fontSize45" data-dismiss="modal">&times;</button>

          <div class="modal-header" align="center">
            <img src="../img/logo.png" alt="Logo" style="height:60px;" class="u-paddingTop10">
            <h2>Flipside</h2>
            <h3 class="weight-lighter">Sign up to interact and learn about different perspectives</h3>
            <h3 class="weight-lighter">or <a id="switch-email-login" class="underline">sign in if you already have an account</a>.</h3>
          </div>
          <!-- Begin # Login Form -->
          <form id="signup-form">
            <div class="modal-body">
              <div class="overlay-content">
                <div class="u-inlineBlock">
                  <div class="u-floatLeft u-width50 u-inlineBlock u-paddingRight12">
                    <div class="input-group">
                      <input type="text" name="firstName" placeholder="First name" class="input-email" id="signup-fn" value="">
                    </div>
                  </div>
                  <div class="u-floatLeft u-width50 u-inlineBlock">
                    <div class="input-group">
                      <input type="text" name="lastName" placeholder="Last name" class="input-email" id="signup-ln" value="">
                    </div>
                  </div>
                </div>
                <div class="input-group">
                  <input type="email" name="email" placeholder="yourname@example.com" class="input-email u-sizeFullWidth" id="signup-email" value="">
                </div>
                <div class="input-group">
                  <input type="password" name="password" placeholder="Password" class="input-email u-sizeFullWidth" id="signup-password" value="">
                </div>
                <p id="blank-fields" class="form-error">
                  Please do not leave any fields blank.
                </p>
                <p id="valid-email-signup" class="form-error">
                  Please enter a valid email.
                </p>
                <p id="email-already-signedup" class="form-error">
                  You already have an account. Please sign in.
                </p>
              </div>
            </div>
            <div class="modal-footer">
              <div>
                <button type="submit" class="btn btn-primary btn-lg btn-block" id="signup-btn">Sign Up</button>
              </div>
            </div>
          </form>
          <!-- End # Login Form -->
        </div>
      </div>
    </div>
    <!-- END # MODAL LOGIN -->


    <div class="modal fade" id="faq-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <button type="button" class="close u-fontSize45" data-dismiss="modal">&times;</button>

          <div class="modal-header" align="center">
            <img src="../img/logo.png" alt="Logo" style="height:60px;" class="u-paddingTop10">
            <h2>We appreciate your curiosity!</h2>
          </div>
          <!-- Begin # Login Form -->
          <div class="modal-body">
            <h5><i>What is the goal of Flipside?</i></h5>
            <h5 class="montserratLight">In a world of restricted speech and echo chambers, it’s never been more important for us to learn
              about and share our differing opinions and perspectives. But the internet has become so noisy and toxic that it’s pretty much
              impossible to have a fun or interesting conversation with people we disagree with. We think we can change that.
            </h5>
            <br>

            <h5><i>How does it work?</i></h5>
            <h5 class="montserratLight">
              To start, we’ve built a simple social polling platform that can be used on any article on any issue. Here’s what we do:
              1. We highlight the main opinions of an article.
              2. Users vote ‘agree’  or ‘disagree’ on those opinions.
              3. Users provide reasons for the way they feel about those opinions.
            </h5>
            <br>

            <h5><i>How does Flipside improve online conversations?</i></h5>
            <h5 class="montserratLight">Through lots of trial and error, we’ve found that the main claims create a great jumping off point for interesting conversations,
              makes it fun for people to share what they believe, and makes it easy and organized to learn about different perspectives on beliefs
              you’re curious about. But this is just the beginning! We think there’s a lot that can be done to make online conversations more accessible and more productive. If you have thoughts on how we can do this better, definitely reach out at <a href="mailto:feedback@flipsidetalk.com">feedback@flipsidetalk.com</a>.
            </h5>
            <br>

            <h5><i>How does Flipside pick which sentences to highlight?</i></h5>
            <h5 class="montserratLight">The Flipside claim detection system considers two criteria when choosing sentences for users to vote on:
              <br><br>
              1. Is the sentence central to the article? Flipside determines this by comparing the sentences to all the other sentences
              to see how much the topics a particular sentence are covered in other parts of the article
              <br><br>
              2. Does the sentence contain a strongly subjective claim? Note that this doesn’t require the sentence itself is subjective,
              just that it contains a phrase or clause within it that is subjective. The Flipside system has a basic (sometimes wrong!)
              intuition of subjective language and it acquired that intuition by looking at the collective determination of expert annotators
              on thousands of sentences in this dataset: <a href="http://mpqa.cs.pitt.edu/corpora/mpqa_corpus/">http://mpqa.cs.pitt.edu/corpora/mpqa_corpus/</a>, to learn patterns of subjective language.
              <br><br>
              Sentences that satisfy these two conditions are highlighted as key points for users to express their opinion on and discuss.
            </h5>
            <br>

            <h5><i>Why are you using an algorithm? How could a computer possibly understand what is subjective when people have trouble determining that?</i></h5>
            <h5 class="montserratLight">
              Oftentimes, conversations get shut down because people cannot agree on what is opinion and what is fact. Whether a person chooses
              what claims or an algorithm chooses what points to identify as subjective, the choices would be biased. The benefit with an
              algorithm, though, is that it can make these distinctions based on a shared understanding rather than a single person’s perspectives.
              Because Flipside learns what is subjective based on examples and feedback from different people, it defines its notion of subjectivity
              based on what many different people define as subjective. As a result, it can be much more representative of everyone’s perspectives
              rather than that of a single individual.
            </h5>
            <br>

            <h5><i>What if my opinion is something other than ‘agreement’ or ‘disagreement’?</i></h5>
            <h5 class="montserratLight">
              We know it seems quite simplistic to ask every question in terms of agree/disagree, but we chose this approach because we wanted
              to make Flipside as simple as possible to encourage many different kinds of people to engage and share their opinion. If you feel
              your opinion is more nuanced than an agree, disagree, a great way to express that is to click the ‘interesting’ button, or write
              and share a reason that describes this nuance.
            </h5>
            <br>

            <h5><i>What should I do with a sentence doesn’t have a clear opinion that it makes sense to agree/disagree with?</i></h5>
            <h5 class="montserratLight">
              Flipside tries to find sentences with some subjective content. So what you’re voting on isn’t the whole sentence,
              but the subjective part of it. If you don’t find anything like that, click the feedback button, and Flipside will
              use your feedback to make better decisions about what to identify as subjective.
            </h5>
            <br>

            <h5><i>Why did you pick this biased/stupid/hateful/(other negative adjectives) article?</i></h5>
            <h5 class="montserratLight">
              We should establish that no posts are meant to reflect the opinions of Flipside’s creators or the people
              they know. We intentionally choose the most difficult topics to discuss, because that’s what we need most.
            </h5>
            <br>
            <h5><i>Wanna chat?</i></h5>
            <h5 class="montserratLight">Email us at <a href="mailto:feedback@flipsidetalk.com">feedback@flipsidetalk.com</a>!</h5>
            <br>
          </div>
          <div class="modal-footer">

          </div>
          <!-- End # Login Form -->
        </div>
      </div>
    </div>
    <!-- END # MODAL LOGIN -->




    <div class="modal fade" id="email-login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <button type="button" class="close u-fontSize45" data-dismiss="modal">&times;</button>

          <div class="modal-header" align="center">
            <img src="../img/logo.png" alt="Logo" style="height:60px;" class="u-paddingTop10">
            <h2>Flipside</h2>
            <h3 class="weight-lighter">Sign in to interact and learn about different perspectives</h3>
          </div>
          <!-- Begin # Login Form -->
          <form id="signin-form">
            <div class="modal-body">
              <div class="overlay-content">
                <div class="input-group">
                  <input type="email" name="email" placeholder="yourname@example.com" class="input-email u-sizeFullWidth" id=signin-email>
                </div>
                <div class="input-group">
                  <input type="password" name="password" placeholder="Password" class="input-email u-sizeFullWidth" id=signin-password>
                </div>
                <p id="incorrect-password" class="form-error">
                  Incorrect username or password.
                </p>
                <p id="valid-email-signin" class="form-error">
                  Please enter a valid email.
                </p>
              </div>
            </div>
            <div class="modal-footer">
              <div>
                <button type="submit" class="btn btn-primary btn-lg btn-block" id=signin-btn>Sign In</button>
              </div>
              <div>
                <button id="login_lost_btn" type="button" class="btn btn-link u-floatRight">Forgot Password?</button>
              </div>
            </div>
          </form>
          <!-- End # Login Form -->
        </div>
      </div>
    </div>
    <div>
      <div class="container content textcomp.article">
        <div class="section-content u-maxWidth1000 marginTopBottom50">
          <div class="row white">

            <!--INTRO SECTION -->

            <div class="col-sm-12 u-marginBottom25 landingSection">
              <!-- <img src="../img/ChicagoGrads.png" alt="info" style="width:100%;" class=""> -->
              <div class="u-paddingRight10 u-paddingLeft10 u-paddingTop10 u-paddingBottom10 u-marginBottom25">
                <h2 class="montserrat section-heading white-text">Welcome to Flipside!</h2>
                <h3 class="montserrat white-text">A new way to share opinions</h3><br>
                <h3 class="montserratLight white-text u-paddingBottom10">Vote below to see what <b class="red-text">{{mapcomp.bubbleData[0].users.length}} </b>others think about the Obama Center</h3>
                <h4 class="montserratLight white-text"> or, <a class="underline" href="mailto:submit@flipsidetalk.com?Subject=Discussion%20Idea" target="_top">send us an article</a> you'd like to discuss</h4>
              </div>
            </div>

            <!-- ARTICLE TEXT -->
            <div class="col-sm-offset-2 col-sm-8">
              <div class="u-sizeFullWidth">
                <i class="fa fa-3x fa-angle-down center" aria-hidden="true"></i>
              </div>
              <br>
              <h2 class="section-heading center-heading margin-top-0 montserratLight" name="main">{{textcomp.article.title.title}}</h2>
              <p class="center-heading">by {{textcomp.article.authors[0].name}} on {{textcomp.article.publication.name}} on {{textcomp.article.formattedDate}}</p>



              <div>
                <div class="u-marginAuto">
                  <span v-for="(m, mindex) in textcomp.article.sentences">
                    <span class="load-text" v-bind:class="{'highlightable':m.mainClaim}">
                      <span v-if="m.mainClaim">
                        <span>
                          <a :id="mindex"></a>
                          <span class="mainClaim">{{m.text}}</span>
                        </span>
                        <br>

                        <span class="u-sizeFullWidth u-inlineBlock">
                          <span class="u-floatRight u-paddingTop10">
                            <span v-if="textcomp.user == undefined">
                              <span href="#sign-in-modal" data-toggle="modal" class="talkButtonInverse greenButtonInverse u-marginLeft10">
                                <span class="u-cardButtonText u-verticalAlignTop u-inlineBlock green-text">Agree</span>
                              </span>
                              <span href="#sign-in-modal" data-toggle="modal" class="talkButtonInverse redButtonInverse u-marginLeft10">
                                <span class="u-cardButtonText u-verticalAlignTop u-inlineBlock red-text">Disagree</span>
                              </span>
                              <span href="#sign-in-modal" data-toggle="modal" class="talkButtonInverse grayButtonInverse u-marginLeft10">
                                <span class="u-cardButtonText u-verticalAlignTop u-inlineBlock gray-text">Interesting</span>
                              </span>
                            </span>
                            <span v-else>
                              <span v-on:click="showTool(mindex, m.seen, textcomp), submitResponse(1, 2, textcomp), fetchComments(textcomp), textcomp.showUserResponse ='none'" class="talkButtonInverse greenButtonInverse u-marginLeft10">
                                <span class="u-cardButtonText u-verticalAlignTop u-inlineBlock green-text">Agree</span>
                              </span>
                              <span v-on:click="showTool(mindex, m.seen, textcomp), submitResponse(-1, 3, textcomp), fetchComments(textcomp), textcomp.showUserResponse ='none'" class="talkButtonInverse redButtonInverse u-marginLeft10">
                                <span class="u-cardButtonText u-verticalAlignTop u-inlineBlock red-text">Disagree</span>
                              </span>
                              <span v-on:click="showTool(mindex, m.seen, textcomp), submitResponse(0, 4, textcomp), fetchComments(textcomp), textcomp.showUserResponse ='none'" class="talkButtonInverse grayButtonInverse u-marginLeft10">
                                <span class="u-cardButtonText u-verticalAlignTop u-inlineBlock u-lastAgreeButton gray-text">Interesting</span>
                              </span>
                            </span><br>
                            <div href="#feedback-modal" data-toggle="modal" v-on:click="openFeedbackForm(mindex, textcomp)" class="u-relative u-top4 u-inlineBlock u-floatRight">
                              <p class="u-fontSize12 underline montserratLight u-paddingTop5">not a claim?</p>
                            </div>
                          </span>
                        </span>



                        <transition name="slide-fade">
                        <div>
                          <div v-if="textcomp.lastReferenced == mindex && textcomp.justVoted" class="u-paddingLeft20 u-paddingRight20 montserratLight">
                            <div>
                              <h4 class="u-lighter"> I
                                <span v-if="textcomp.lastVoteValue == 0">
                                  find this interesting because...
                                </span>
                                <span v-if="textcomp.lastVoteValue == 1">
                                  agree because ...
                                </span>
                                <span v-if="textcomp.lastVoteValue == -1">
                                  disagree because...
                                </span>
                              </h4>
                            </div>

                            <textarea type="text" placeholder="write a reason to help others understand your stance" name="" value="" class="talkInput u-sizeFullWidth" v-model="textcomp.whyResponse.input" style="background-color: white;"></textarea>
                            <div class="u-sizeFullWidth u-inlineBlock">

                              <span v-if="textcomp.user == undefined">
                                <p class="talkButton montserratLight u-floatRight" href="#sign-in-modal" data-toggle="modal">Share</p>
                              </span>
                              <span v-else>
                                <p class="talkButton montserratLight u-floatRight" v-on:click="submitWhy(textcomp), textcomp.showUserResponse = 'block'">Share</p>
                              </span>
                            </div>

                            <div v-bind:style="{display: textcomp.showUserResponse}" class="u-sizeFullWidth u-paddingTop10 u-paddingBottom10">
                              <h4>Thank you for sharing!</h4>
                            </div>
                            </div>
                            <div v-for="(sentenceObj, sindex) in textcomp.arrayEveryone">
                              <div v-if="sentenceObj.sentenceId == mindex">
                                <div v-if="(sentenceObj.agree*100).toFixed(0) != 0 && (sentenceObj.disagree*100).toFixed(0) != 0 " class="u-inlineBlock u-sizeFullWidth">
                                  <div class="col-xs-6 u-paddingRight0 grayBorderRB">
                                    <h4 class="agreeTeal u-paddingRight10 u-marginTop0 u-paddingBottom10">{{(sentenceObj.agree*100).toFixed(0)}}% agree</h4>
                                    <div v-for="(commentObj, mindex) in textcomp.displayAgreeComments">
                                      <div v-if="commentObj.sentenceId == sentenceObj.sentenceId">
                                        <div class="u-paddingRight10 grayBorderTop">
                                          <p class="commentText u-paddingTop10 u-marginTop10 u-paddingBottom10 BorderRadius7">{{commentObj.text}}</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-xs-6 u-paddingLeft0 grayBorderLB">
                                    <h4 class="disagreeRed u-paddingLeft10 u-marginTop0 u-paddingBottom10">{{(sentenceObj.disagree*100).toFixed(0)}}% disagree</h4>
                                    <div v-for="(commentObj, mindex) in textcomp.displayDisagreeComments">
                                      <div v-if="commentObj.sentenceId == sentenceObj.sentenceId">
                                      <div class="u-paddingLeft10 grayBorderTop">
                                        <p class="commentText u-paddingTop10 u-marginTop10 u-paddingBottom10 BorderRadius7">{{commentObj.text}}</p>
                                      </div>
                                    </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </transition>
                        <br><br>
                      </span>



                      <span v-else>
                        <span v-bind:id="mindex">
                          <a :id="mindex" :name="m.id+2" class="anchor"></a>

                          {{m.text}}
                        </span>
                      </span>

                      <span v-if="m.endParagraph">
                        <br><br>
                      </span>
                    </span>
                  </span>
                  <!--END OF STORY CONTENT-->
                </div>
                <div id="cal1">&nbsp;</div>
                <div id="cal2">&nbsp;</div>
                <div id="tooltip" v-bind:style="{display: textcomp.talkdisplay, top: textcomp.tooltop, left: textcomp.toolleft}">
                  <span href="#talkModal" data-toggle="modal" class="u-button u-border" v-on:click="fetchComments(textcomp), textcomp.showUserResponse ='none'">contribute</span>
                  <span v-on:click="textcomp.talkdisplay = 'none', textcomp.tooldisplay = 'block'" class="u-fontSize11 u-button">change vote</span>
                  <div class="highlightMenu-arrowClip">
                    <span class="highlightMenu-arrow"></span>
                  </div>
                </div>

              </div>

              <!--
              <div class="cardBlock" v-bind:style="{display: mapcomp.displayEveryone}">
              <div class="u-paddingBottom10">
              <div v-for="(m, mindex) in mapcomp.arrayEveryone">
              <div v-if="mapcomp.displayCounter == mindex">
              <div class="u-sizeFullWidth u-inlineBlock u-paddingTop10 u-paddingLeft12 u-paddingRight12">
              <a :href="'#'+m.sentenceId">
              <button type="button" name="button" class="u-floatLeft keyButtons lessImportantButton u-lighter u-fontSize14 u-marginTop10">SEE CONTEXT</button>
            </a>
            <button type="button" name="button" class="u-floatRight keyButtons u-greenBackgroundButton u-lighter u-fontSize14 u-marginTop10" v-on:click="textcomp.displayContributeCard = false, fetchNextClaim(mapcomp, textcomp)">NEXT CLAIM</button>
          </div>
          <div class="u-sizeFullWidth u-inlineBlock u-paddingLeft12 u-paddingRight20 u-marginLeft10 u-marginTop10">
          <p class="u-paddingTop10 u-marginLeft10 u-fontSize25 gray-text u-marginTop0">Claim {{mapcomp.displayCounter+1}}/{{mapcomp.arrayEveryone.length}}</p>
        </div>
        <div class="u-padding10 u-inlineBlock">
        <h4 class="u-paddingRight20 u-paddingLeft20 georgiaCard u-marginTop0">"{{m.text}}"</h4>
      </div>
      <div class="voteSection u-inlineBlock u-paddingBottom10" v-bind:style="{display: textcomp.displayVoteCard}">

      <span v-if="textcomp.voteCounter < 2">
      <span class="center">
      <span v-on:click="submitVote(1, 2, textcomp, mapcomp), fetchCommentsFromCard(textcomp), textcomp.showUserResponse ='none'" class="cardButtonSection center u-greenBackgroundButton u-borderRadiusBL">
      <span class="u-cardButtonText u-verticalAlignTop u-inlineBlock">Agree</span>
    </span>
    <span v-on:click="submitVote(-1, 3, textcomp, mapcomp), fetchCommentsFromCard(textcomp), textcomp.showUserResponse ='none'" class="cardButtonSection center u-redBackgroundButton">
    <span class="u-cardButtonText u-verticalAlignTop u-inlineBlock">Disagree</span>
  </span>
  <span v-on:click="submitVote(0, 4, textcomp, mapcomp), fetchCommentsFromCard(textcomp), textcomp.showUserResponse ='none'" class="cardButtonSection center u-grayBackgroundButton u-borderRadiusBR">
  <span class="u-cardButtonText u-verticalAlignTop u-inlineBlock u-lastAgreeButton">Interesting</span>
</span>
</span>
</span>
<span v-else>
<span v-if="textcomp.user == undefined" class="center">
<span href="#sign-in-modal" data-toggle="modal" class="cardButtonSection center u-greenBackgroundButton u-borderRadiusBL">
<span class="u-cardButtonText u-verticalAlignTop u-inlineBlock">agree</span>
</span>
<span href="#sign-in-modal" data-toggle="modal" class="cardButtonSection center u-redBackgroundButton">
<span class="u-cardButtonText u-verticalAlignTop u-inlineBlock">disagree</span>
</span>
<span href="#sign-in-modal" data-toggle="modal" class="cardButtonSection center u-grayBackgroundButton u-borderRadiusBR">
<span class="u-cardButtonText u-unsureButtonsCard u-verticalAlignTop u-inlineBlock">Interesting</span>
</span>
</span>
<span v-else class="center">
<span v-on:click="submitVote(1, 2, textcomp, mapcomp), fetchCommentsFromCard(textcomp), textcomp.showUserResponse ='none'" class="cardButtonSection center u-greenBackgroundButton u-borderRadiusBL">
<span class="u-cardButtonText u-verticalAlignTop u-inlineBlock">Agree</span>
</span>
<span v-on:click="submitVote(-1, 3, textcomp, mapcomp), fetchCommentsFromCard(textcomp), textcomp.showUserResponse ='none'" class="cardButtonSection center u-redBackgroundButton">
<span class="u-cardButtonText u-verticalAlignTop u-inlineBlock">Disagree</span>
</span>
<span v-on:click="submitVote(0, 4, textcomp, mapcomp), fetchCommentsFromCard(textcomp), textcomp.showUserResponse ='none'" class="cardButtonSection center u-grayBackgroundButton u-borderRadiusBR">
<span class="u-cardButtonText u-verticalAlignTop u-inlineBlock u-lastAgreeButton">Interesting</span>
</span>
</span>
</span>

</div>



<transition name="slide-fade">
<div v-if="textcomp.displayContributeCard" class="u-paddingLeft20 u-paddingRight20">
<hr>
<div>
<h4 class="u-lighter"> I
<span v-if="textcomp.lastVoteValue == 0">
find this interesting because...
</span>
<span v-if="textcomp.lastVoteValue == 1">
agree because ...
</span>
<span v-if="textcomp.lastVoteValue == -1">
disagree because...
</span>
</h4>
</div>

<textarea type="text" placeholder="write a reason to help others understand your stance" name="" value="" class="talkInput u-sizeFullWidth" v-model="textcomp.whyResponse.input" style="background-color: white;"></textarea>
<div class="u-sizeFullWidth u-inlineBlock">
<p class="talkButton montserratLight u-floatRight" v-on:click="submitWhy(textcomp), textcomp.showUserResponse = 'block'">Share</p>
</div>

<div v-bind:style="{display: textcomp.showUserResponse}" class="u-sizeFullWidth u-paddingTop10 u-paddingBottom10">
<h4>Thank you for sharing!</h4>
</div>

<div v-if="(m.agree*100).toFixed(0) != 0 && (m.disagree*100).toFixed(0) != 0 " class="u-inlineBlock u-sizeFullWidth">
<div class="col-xs-6 u-paddingRight0 grayBorderRB">

<h4 class="agreeTeal  u-paddingRight10 u-marginTop0 u-paddingBottom10">{{(m.agree*100).toFixed(0)}}% agree</h4>
<div v-for="(commentObj, mindex) in textcomp.displayAgreeComments">
<div class="u-paddingRight10 grayBorderTop">
<p class="commentText u-paddingTop10 u-marginTop10 u-paddingBottom10 BorderRadius7">{{commentObj.text}}</p>
</div>
</div>
</div>
<div class="col-xs-6 u-paddingLeft0 grayBorderLB">
<h4 class="disagreeRed u-paddingLeft10 u-marginTop0 u-paddingBottom10">{{(m.disagree*100).toFixed(0)}}% disagree</h4>
<div v-for="commentObj in textcomp.displayDisagreeComments">
<div class="u-paddingLeft10 grayBorderTop">
<p class="commentText u-paddingTop10 u-marginTop10 u-paddingBottom10 BorderRadius7">{{commentObj.text}}</p>
</div>
</div>
</div>
</div>
</div>
</transition>
</div>
</div>
</div>
</div> -->
<br><br>
</div>

<!--
<div class="col-sm-offset-2 col-sm-8">
  <div id="mapcompAnchor" v-if="mapcomp.bubbleData.length > 2">
    <div v-if="textcomp.voteCounter > 4">
      <button type="button" name="button" class="u-greenBackgroundButton keyButtons" onclick="location.reload()">See Yourself!</button>
    </div>

    <h2 class="margin-top-0 u-lighter" name="main">Welcome to Flipside!</h2><br>
    <h3 class="u-lighter"><b>Click on Bubbles</b> to learn what different people think.</h3>

    <div class="cardBlock u-height350">
      <div class="u-paddingTop10">
        <div class="u-sizeFullWidth u-inlineBlock u-paddingLeft12 u-paddingRight20 u-marginLeft10">
          <p class="u-paddingTop10 u-marginLeft10 u-fontSize25 gray-text u-marginTop0">The People's Opinion</p>
        </div>
        <map-comp :mapcomp="mapcomp"></map-comp>

        <transition name='slide-fade'>
          <div v-if="mapcomp.displayIndividual">
            <div class="u-inlineBlock">

              <div class="u-paddingRight20 u-paddingLeft20">
                <hr>
              </div>
              <div class="u-padding10">

                <div class="u-sizeFullWidth u-inlineBlock u-paddingLeft12 u-paddingRight20 u-marginLeft10 u-marginTop10 u-marginRight10">

                  <button type="button u-marginRight10" class="close" v-on:click="mapcomp.displayIndividual = false;">
                    <span class="u-fontSize45 u-lighter">&times;</span>
                  </button>
                  <p class="u-paddingTop10 u-marginLeft10 u-fontSize25 gray-text u-marginTop0">How this group voted:</p>
                </div>

                <div v-for="m in mapcomp.arrayClaim">

                  <div class="u-paddingLeft10">

                    <div v-if="m.agreeable == 'agreeBlock'">
                      <h4 class="agreeTeal u-fontSize20 u-paddingLeft20">{{(m.percent*100).toFixed(0)}}% agree with:</h4>
                    </div>
                    <div v-else>
                      <h4 class="disagreeRed u-fontSize20 u-paddingLeft20">{{(m.percent*100).toFixed(0)}}% disagree with:</h4>
                    </div>
                    <div>
                      <h5 class="georgiaCard u-paddingRight20 u-paddingLeft20 u-paddingBottom10">{{m.text}}</h5>
                    </div>

                  </div>
                </div>


              </div>
            </div>
          </div>
        </transition>
      </div>
    </div>
  </div>
</div> -->
</div>
</div>
</div>
</div>
<!--START MODAL-->

<!-- BEGIN # MODAL LOGIN -->
<div class="modal fade" id="feedback-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" align="center">
        <img src="../img/logo.png" alt="Logo" style="height:60px;" class="u-paddingTop10">
        <h2>We appreciate your feedback!</h2>

        <div id="sentence-feedback-btn" type="button" name="button" class="btn btn-default" v-on:click="submitFeedback(textcomp)">
          This isn't a main claim
        </div>
        <transition name="slide-slow">
          <div v-bind:style="{display: textcomp.showThankYou}" class="u-sizeFullWidth u-paddingTop10 u-paddingBottom10">
            <h4>Thanks for letting us know</h4>
          </div>
        </transition>
        <br>
        <h3 class="weight-lighter">To learn how we detect main claims, check out our FAQs page!</h3>

      </div>
    </div>
  </div>
</div>
<!-- END # MODAL Feedback -->

<footer>
  <hr>
  <div>
    &copy; Flipside, Inc.
  </div>
</footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://unpkg.com/vue@2.4.2/dist/vue.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="scripts/main.js"></script>
<script src="scripts/article.js"></script>
</body>

</html>
