@import url("https://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

/* GLOBAL STYLES
-------------------------------------------------- */

html {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

body {
  /*padding-top:70px; */
  color: #212121;
  font-family: 'Montserrat', sans-serif;
  background-color: 'white';
}

.container {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.marginTopBottom50{
  margin-top: 50px!important;
  margin-bottom: 50px!important;
}

a:focus, a:hover {
  color: #6287A4;
  text-decoration: none;
  outline: 0;
}

.mdc-button:hover {
  text-decoration: none;
  color: white;
}

a {
  color: inherit;
}

hr {
  border-width: 2px;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.text {
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.5;
}

.lineheight123 {
  line-height: 1.23;
}

mark {
  background-color: rgba(184, 139, 208, 0.2);
  cursor: pointer!important;
}

mark:hover {
  background-color: rgba(184, 139, 208, 0.4);
}

.u-purpleBackground {
  background-color: rgba(131, 101, 158, 0.6)!important;
}

.u-redBackground {
  background-color: rgba(235, 112, 107, 0.5)!important;
}

.u-greenBackground {
  background-color: rgba(69, 196, 173, 0.5)!important;
}

.u-greenBackgroundButtonFill {
  background-color: rgba(69, 196, 173, 1)!important;
}

.u-redBackgroundButton {
  background-color: rgba(235, 112, 107, 0.9)!important;
}

.u-greenBackgroundButton {
  background-color: rgba(69, 196, 173, 0.9)!important;
}

.u-width50 {
  width: 50%;
}

circle:hover{
  cursor: pointer;
}

/*nav styles*/

.metabar {
  position: fixed!important;
  display: block;
  width: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
  top: 0;
  z-index: 500;
  background: #fff;
  color: rgba(0, 0, 0, 0.44);
}

.u-boxShadow {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .15);
}

.u-backgroundTransparent {
  background: rgba(255, 255, 255, 0.95)!important;
}

.metabar-inner {
  position: relative;
}

.u-paddingLeft20 {
  padding-left: 20px;
}

.u-paddingLeft90 {
  padding-left: 90px;
}

.u-paddingRight90 {
  padding-right: 90px;
}

.u-paddingRight20 {
  padding-right: 20px;
}

.js-metabarMiddle {
  align-items: center;
}

.u-maxWidth1200 {
  max-width: 1200px;
}

.metabar-top {
  position: relative;
  z-index: 500;
}

.metabar-block {
  position: relative;
  z-index: 500;
}

.metabar-spacer {
  position: relative;
  z-index: 100;
}

.u-overflowHiddeny {
  overflow-y: hidden;
}

.u-height40 {
  height: 36px!important;
}

.u-height65 {
  height: 49px;
}

.u-height25 {
  height: 25px;
}

.u-floatLeft {
  float: left!important;
}

.u-floatRight {
  float: right!important;
}

.nav-brand {
  display: inline-block;
  padding-top: 10px;
  padding-right: 14px;
  z-index: 700;
  border: 0;
}

.nav-brand-logo {
  height: 30px;
}

.u-inline {
  display: inline!important;
}

.u-inlineBlock {
  display: inline-block;
}

.u-width80 {
  width: 70%;
}

.u-width20 {
  width: 25%
}

.u-verticalAlignTop {
  vertical-align: top;
}

.u-alignMiddle .u-alignBlock {
  display: inline-block;
  vertical-align: middle;
}

.u-verticalAlignMiddle {
  vertical-align: middle !important;
}

.u-marginRight20 {
  margin-right: 13px;
}

.u-marginAuto {
  margin-left: auto !important;
  margin-right: auto!important;
}

.u-marginTop0 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-borderRightLighter {
  border-right: 1px solid rgba(0, 0, 0, 0.15)!important;
}

.topic {
  color: #3d3d3d;
  overflow: hidden;
  font-size: 25px;
}

.u-fontSize25 {
  font-size: 25px;
}

.button {
  height: 37px;
  font-size: 14px;
  vertical-align: middle;
  font-weight: lighter;
}

.buttonset {
  margin: 15px 5px 10px 10px;
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
}

.u-lineHeightInherit {
  line-height: inherit;
}

.u-textAlignLeft {
  text-align: left!important;
}

.u-textAlignRight {
  text-align: left!important;
}

.u-noWrap {
  white-space: nowrap;
}

.u-paddingBottom100 {
  padding-bottom: 100px;
}

.u-paddingRight12 {
  padding-right: 12px;
}

.u-paddingLeft12 {
  padding-left: 12px;
}

.u-overflowX {
  overflow-x: auto;
}

.u-fontSize14 {
  font-size: 14px;
}

.u-fontSize12 {
  font-size: 12px;
}

.u-fontSize11 {
  font-size: 11px;
}

.u-paddingTop5 {
  padding-top: 5px;
}

.u-textUppercase {
  text-transform: uppercase!important;
}

.u-letterSpacing003 {
  letter-spacing: 0.03em!important;
}

.u-textColorNormal {
  color: rgba(0, 0, 0, 0.44)!important;
  fill: rgba(0, 0, 0, 0.44)!important;
}

.u-fixed {
  position: fixed;
}

.u-marginTop10{
  margin-top: 10px;
}


/*landingSection styles*/

.colorBar {
  height: 2px;
  width: 100%;
}

.u-backgroundLavender {
  background-color: #EDDEFB;
}

.u-backgroundRed {
  background-color: #DB6061;
  opacity: .6;
}

.mdc-textfield__input {
  padding: 6px 12px;
}


/*form styles*/

label {
  cursor: pointer;
}

.u-pointer {
  cursor: pointer!important;
}

.u-agreeForm {
  position: absolute;
  left: 0.8em;
  padding-top: 5px;
}

.mdc-card__primary {
  padding-bottom: 16px!important;
}

.mdc-textfield {
  width: auto!important;
}

.u-iconem{
  font-size: 1.5em!important;
}

.u-button {
  cursor: pointer;
  color: #ffffff;
  padding: 3px 8px;
  font-size: 14.5px;
  /* background-color: rgba(131, 101, 158, 0.9); */
  font-family: 'Montserrat', sans-serif!important;
  font-weight: lighter!important;
}

.u-agreeButton:hover{
  border-bottom: 1px solid;
}

.u-agreeButtons {
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  /* background-color: rgba(131, 101, 158, 0.9); */
  font-family: 'Montserrat', sans-serif!important;
  font-weight: lighter!important;
}

.u-cardButtonText {
  cursor: pointer;
  color: white;
  font-family: 'Montserrat', sans-serif!important;
  font-size: 16px;
  padding-top: 8px;
}

.u-unsureButtonsCard{
  color: #6C6C6C!important;
}

.u-lastAgreeButton{
  color: #6C6C6C!important;
}

@media(max-width:768px){
  .u-cardButtonText{
    cursor: pointer;
    color: white;
    font-family: 'Montserrat', sans-serif!important;
    font-weight: lighter!important;
    font-size: 14px;
    padding-top: 6px;
  }

  .georgia{
    font-family: georgia, "Times New Roman", times, serif!important;
    line-height: 1.6!important;
    font-size: 16px!important;
  }

  .u-agreeButtons {
    cursor: pointer;
    color: #ffffff;
    padding: 0px 12x 0px 1px;
    font-size: 15px;
    /* background-color: rgba(131, 101, 158, 0.9); */
    font-family: 'Montserrat', sans-serif!important;
    font-weight: lighter!important;
  }

}

.montserrat {
  font-family: 'Montserrat', sans-serif!important;
}

.montserratLight {
  font-family: 'Montserrat', sans-serif!important;
  font-weight: lighter!important;
}

.u-buttonPadding {
  padding: 8px 10px;
}

input:checked+label {
  background: red;
}

/*article landing styles*/
.keyButtons {
  cursor: pointer;
  color: #ffffff;
  padding: 5px 18px;
  font-family: 'Montserrat', sans-serif!important;
  font-weight: lighter!important;
  border-radius: 0.7em;
  border: none;
}

.lessImportantButton{
  border-color: rgba(42, 42, 42, 0.8)!important;
  border: 1.4px solid!important;
  color: rgba(42, 42, 42, 0.8)!important;
  background: none;
}

@media(max-width:768px){
  .keyButtons{
    cursor: pointer;
    color: #ffffff;
    padding: 5px 15px;
    font-family: 'Montserrat', sans-serif!important;
    border-radius: 0.4em;
    border: none;
    font-size: 12px!important;
  }

  .u-fontSize25{
    font-size: 20px!important;
  }


}

/*landing page styles*/

.mainStory {
  padding-bottom: 30px;
  width: 100%;
}

.u-fontSize20 {
  font-size: 20px;
}

.firstStory {
  width: 32%!important;
  margin-right: 0px!important;
  display: inline-block;
}

.opinion-result {
  display: none;
}


/* MODAL STYLES
---------------------------------------------------*/

.overlay-dialogue {
  background-color: #ffff;
  border-radius: 3px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .38);
}

.overlay-content {
  padding: 0 32px 0;
  margin: 24px 0;
  font-size: 16px;
  font-weight: lighter;
  text-align: left;
}

.input-group {
  position: relative;
  width: 100%
}

.input-email {
  border: 0;
  border-bottom: 1px solid;
  border-radius: 0;
  font-size: 18px;
  font-weight: lighter;
  padding: 7px;
  margin: 10px auto;
  overflow: hidden;
}

.float-left {
  padding-top: 30px;
  max-width: 60px;
  float: left;
}

.facebookSign {
  background-color: #3B5998;
}


/***  BUBBLE STYLES
*******************************************/
.borderClass{
  stroke: rgba(91, 59, 122, 0.71);
  stroke-width: 5px;
}

.bubble{
  background-color: #e3e3e3;
}

.bubbleMap{
  width: 100%;
  height: 300px;
}

.goToBubbleButton{
  position: fixed;
  bottom: 0;
  right: 0;
  margin:10px;
}

/* #########################################
#    override the bootstrap configs     #
######################################### */

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .8;
}

.modal-content {
  background-color: white;
  border: 1px solid #bdc3c7;
  border-radius: 0px;
  outline: 0;
}

.modal-header {
  min-height: 16.43px;
  padding: 15px 15px 15px 15px;
  border-bottom: 3px;
}

.weight-lighter {
  font-weight: lighter;
  font-size: 16px!important;
}

.u-lighter {
  font-weight: lighter;
}

.form-error {
  display: none;
  font-size: small;
  color: red;
}


/* NAV STYLES
-------------------------------------------------- */

.navbar {
  height: 70px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
}

.nav-text {
  font-size: 14px;
  padding-top: 12px;
}

.metabar-navItem {
  padding: 10px, 20px, 18px, 0;
}

.navlink {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  font-weight: lighter;
}

.navlink:hover {
  color: rgba(0, 0, 0, 0.70)!important;
  fill: rgba(0, 0, 0, 0.70)!important;
}


/* CHART
-------------------------------------------------- */

.shadedArea {
  fill: rgba(124, 85, 158, 0.4);
}

.shadedArea:hover {
  cursor: pointer;
}

.selectedCluster {
  fill: rgba(124, 85, 158, 0.8);
}

.shadedAreaModal {
  fill: rgba(124, 85, 158, 0.4);
}

.shadedAreaModal:hover {
  cursor: pointer;
}

.selectedClusterModal {
  fill: rgba(124, 85, 158, 0.8);
}

.u-plots {
  border: solid;
  border-radius: 2px;
}

.u-plotsModal {
  border: solid;
  border-radius: 2px;
}

.u-maxHeight390 {
  max-height: 390px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  text-align: center;
}

.u-absolute {
  overflow-y: scroll;
  float: left;
  position: absolute;
}

.clusterbutton {
  font-size: 16px;
  cursor: pointer;
}

.cl-effect-15 a {
  color: rgba(0, 0, 0, 0.2);
  font-weight: 700;
  text-shadow: none;
}

.cl-effect-15 a::before {
  color: #fff;
  content: attr(data-hover);
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-15 a:hover::before, .cl-effect-15 a:focus::before {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0;
}


/* CSS TRANSITIONS
-------------------------------------------------- */

.slide-fade-enter-active {
  transition: all .5s ease;
}
.slide-fade-leave-active {
  transition: all .5s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(-10px);
  opacity: 0;
}

/* TALKBOX
-------------------------------------------------- */
.talkModal .modal-backdrop {
  background-color: red;
}


.talkBox{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1050;
  overflow: hidden;
  outline: 0;
  -webkit-overflow-scrolling: touch;
}
.talkModal{
  background-color: rgba(255,255,255, 0.7)!important;
}

.talkDialogue{
  background-color: white;
  bottom: 0;
  border-radius: 0.2em;
  border: 0px;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  pointer-events: initial;
  position: fixed;
  right: 0;
  width: 70rem;
  top: 0;
  z-index: 102;
  display: block;
  flex-wrap: wrap;
}

.modal-content{
  padding: 20px;
}
.content-section{
  padding: 20px;
}

.commentBlock{
  border-radius: 0.5em;
  margin-top: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  min-height: 70px;
}

.cardBlock{
  border-radius: 0.5em;
  margin-top: 20px;
  min-height: 70px;
  -webkit-box-shadow: 0px 12px 40px -13px rgba(97,97,97,1);
  -moz-box-shadow: 0px 12px 40px -13px rgba(97,97,97,1);
  box-shadow: 0px 8px 45px -13px rgba(97,97,97,1);
}

.cardButtonSection{
  width: 33.33%;
  height: 40px;
  cursor: pointer;
  margin: 0px 20px;
  border-radius: 0.4em!important;
  outline: none;
}

.u-grayBackgroundButton{
  background-color: #D1D1D1;
}

.u-borderRadiusBL{
  border-radius: 0px 0px 0px 0.5em;
}

.u-borderRadiusBR{
  border-radius: 0px 0px 0.5em 0px;
}


.u-marginLeft10{
  margin-left: 10px;
}

.agreeBlock{
  background-color: rgba(104, 207, 174, 1);
  color: white;
}
.disagreeBlock{
  background-color: rgba(235, 115, 115, 0.9);
  color: white;
}
.commentHeader{
  padding: 10px;
  font-weight: bolder;
}

.u-padding10{
  padding: 10px;
}

.u-paddingLeft10{
  padding-left:10px;
}

.u-paddingRight0{
  padding-right: 0px!important
}

.quoteSection{
  box-shadow:0px 2px 0px #a9a9a9;
  padding-top:0px!important;
  padding-bottom: 20px;
}

.commentSection{
  padding: 0 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.rowReverse{
  display: flex;
  flex-direction: row-reverse;
  padding-top: 20px;
}
.commentName{
  padding-right: 10px;
}
.commentContent{
  padding-left: 10px;
}
.commentText{
  font-size: 16px;
  font-weight: lighter;
}
.talkButton{
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 7px;
  color: #ffffff;
  font-size: 16px;
  background: rgba(0, 151, 167, 0.74);
  padding: 6px 12px 9px 12px;
  text-decoration: none;
}

.seeMoreButton{
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  color: #ffffff;
  font-size: 14px;
  background: #6cccae;
  padding: 5px 20px 5px 10px;
  border: solid #ffffff 2px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 13px;
}

.seeMoreButton:hover {
  background: #5cad91;
  text-decoration: none;
}

@media(max-width:991px){
  .modal{
    width: 95%;
  }
  .modal-content{
    width: 95%!important;
  }
}

@media(max-width:768px){
  .content-section{
    padding: 0px;
  }
  .commentText{
    font-size: 15px;
    line-height: 1.4em;
  }

}

.talkContent{
  border: none;
}

.talkSection{
  padding: 10px 0px
}

.quoteSection{
  box-shadow:0px 0.6px 0px #a9a9a9;
  padding-top:0px!important;
}

.readSection{
  margin-top: 20px;
}

.talkInput{
  height: 80px;
  outline: none;
  border: 2px solid;
  border-color: rgba(42, 42, 42, 0.3);
  padding: 9px;
  font-size: 14px;
  font-weight: lighter;
  border-radius: 0.4em;
}

.talkButton{
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 2.5px;
  color: #ffffff;
  font-size: 12px;
  background: rgba(0, 151, 167, 0.74);
  padding: 6px 12px 9px 12px;
  text-decoration: none;
}
.u-margin2{
  margin:0px 2px;
}

.talkButton:hover {
  background-color: purple;
  background-image: -webkit-linear-gradient(top, rgba(0, 151, 167, 0.96), rgba(0, 151, 167, 0.99));
  background-image: -moz-linear-gradient(top, rgba(0, 151, 167, 0.96), rgba(0, 151, 167, 0.99));
  background-image: -ms-linear-gradient(top, rgba(0, 151, 167, 0.96), rgba(0, 151, 167, 0.99));
  background-image: -o-linear-gradient(top, rgba(0, 151, 167, 0.96), rgba(0, 151, 167, 0.99));
  background-image: linear-gradient(to bottom, rgba(0, 151, 167, 0.96), rgba(0, 151, 167, 0.99));
  text-decoration: none;
  color: #ffffff!important;
  transition: 2s;
}

.transition2{
  transition: 2s;
}


.agreeTeal{
  color: rgba(0, 209, 193, 1);
}

.disagreeRed{
  color: rgba(255, 90, 95, 1);
}


.grayBorderLB{
  border-width: 0px 0px 0px 3px;
  border-style: solid;
  border-color: rgba(215, 218, 214, 0.9);

}

.grayBorderRB{
  border-width: 0px 3px 0px 0px;
  border-style: solid;
  border-color: rgba(215, 218, 214, 0.9);
}

.grayBorderTop{
  border-width: 6px 0px 0px 0px;
  border-style: solid;
  border-color: rgba(215, 218, 214, 0.9);
}

.BorderRadius7{
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 7px;
}

/* TOOLTIP
-------------------------------------------------- */
#tooltip {
  position:absolute;
  display:none;
  border:grey solid 1px;
  border-radius: 0.4em;
  padding:  8px 7px;
  z-index: 500;
  color: white;
  transition: all 0.2s;
  background-color: #2b2b2b;
}
#cal1{
  position:absolute;
  height:0px;
  width:0px;
  top:100px;
  left:100px;
  overflow:none;
  z-index:-100;
}
#cal2{
  position:absolute;
  height:0px;
  width:0px;
  top:0px;
  left:0px;
  overflow:none;
  z-index:-100;
}

.helpTool{
  font-size: 15px;
  font-weight: lighter;
}

.highlightMenu-arrowClip{
  position: absolute;
  bottom: -10px;
  left: 50%;
  clip: rect(10px 20px 20px 0);
  margin-left: -10px;
}
.highlightMenu-arrow{
  display: block;
  width: 20px;
  height: 20px;
  transform: rotate(45deg) scale(0.5);
  background-color: #2b2b2b;
}

.regularTextActive{
  transition: ease-in 0.02s;
  border-bottom: 4.2px solid rgba(0, 151, 167, 0.4);
}

.regularText{
  -webkit-transition: ease-out 1s;
  transition: ease-out 1s;
  cursor: pointer;
  padding-bottom: 0px;
  border-bottom-color: white;
  border-radius: 2px;
}
.regularText:hover{
  border-bottom: 4.2px solid rgba(0, 151, 167, 0.4);
  transition: ease-out 0.1s;
  transition: ease-in 0.1s;
}

.grayFont{
  color: rgba(42, 42, 42, 0.6);
}

/* THUMBNAIL STYLES
-------------------------------------------------- */
.thumbImage{
  background-position: 50% 50%!important;
  display: block;
  background-size: cover;
  height: 100%;

}

.Byline{
  line-height: 1.4;
  font-size: 14px;
  text-rendering: auto;
}

.u-paddingTop50{
  padding-top: 50px;
}

.subHeading{
  font-size: 12px;
  line-height: 1.2!important;

}
.u-flex{
  display: flex!important;
}

.u-marginBottom20{
  margin-bottom: 20px;
}

.u-width-6-12{
  width: 50%;
}

.u-paddingRight10{
  padding-right: 10;
}

.u-paddingTop2{
  padding-top: 2px;
}

.u-paddingLeft0{
  padding-left: 0;
}

.u-flexCenter{
  display: flex;
  align-items: center!important;
}

.u-marginBottom25{
  margin-bottom: 25px!important;
}

.u-borderBottomLighter{
  border-bottom: 1px solid rgba(0, 0, 0, 0.15)!important;
}

.u-flex1{
  flex: 1 1 auto;
}

.u-flex0{
  flex: 0 0 auto;
}

.u-flexColumn{
  display: flex!important;
  flex-direction: column;
  justify-content: center!important;

}

.u-flexTop{
  display: flex;
  align-items: flex-start!important;
}

.u-justifyContentSpaceBetween{
  justify-content: space-between!important;
}

/*******INDIVIDUAL STORY*********/
.u-size6of12{
  width: 50%!important;
}

.u-height260{
  height: 260px;
}

.u-overflowHidden{
  overflow: hidden!important;
}

.u-relative{
  position: relative;
}

.u-borderRadius2{
  border-radius: 2px !important;
}

.u-border{
  border: 1.5px solid;
  border-radius: 0.7em;
}

.u-paddingBottom0{
  padding-bottom: 0px!important;
}
.u-paddingTop0{
  padding-top: 0px!important;
}

.u-borderBlackLightest{
  border: 1px solid rgba(0,0,0,.1)!important;
}
.u-sizeFullHeight{
  height: 100%;
}

.u-sizeFull{
  height: 100%;
  width: 100%;
}

.u-width200{
  width: 200px;
}

.u-padding20{
  padding: 20px;
}

.u-noWrapTextEllipsis{
  white-space: wrap!important;
  text-overflow: ellipsis!important;
  overflow: hidden!important;
}

@media(max-width:767px){
  .u-xs-flexWrap{
    flex-wrap: wrap!important;
  }
  .u-xs-paddingLeft0{
    padding-left: 0px!important;
  }
  .u-xs-paddingTop5{
    padding-top: 5px!important;
  }
  .u-xs-paddingRight0{
    padding-right: 0px!important;
  }
  .u-xs-size12of12{
    width: 100%!important;
  }
  .u-xs-heightAuto{
    height: auto!important;
  }
  .u-xs-height170{
    height: 170px!important;
  }
}

@media(max-width:991px){
  .u-sm-height100{
    height: 100px!important;
  }
  .u-sm-sizeFullWidth{
    width: 100%!important;
  }
  .u-sm-flexWrap{
    flex-wrap: wrap;
  }
}

.purpleBackground{
  /*background-color: rgba(184, 139, 208); */
  background-color: rgba(91, 59, 122, 0.71);
}

input{
  background: none;
  border: 0;
}

input:focus{
  outline: none;
}

.mainInput{
  width: 100%;
  height: 44px;
  font-size: 20px;
  border-bottom: 2px solid;
}
.submitButton{
  position: absolute;
  left: 0;
  top: 15px;
  background: white;
  font-size: 20px;
}

.bumpDown{
  padding-bottom: 50px;
}

.u-height350{
  min-height: 350px!important;
}
/* CONTENT
-------------------------------------------------- */

.section-inner {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.section-content {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.u-maxWidth800 {
  max-width: 800px;
}

.u-maxWidth1000 {
  max-width: 1000px;
}

#your-thoughts-textarea {
  display: none;
}

.btn.center {
  margin: 0 auto;
}

.btn.side-by-side {
  padding-left: 40px;
  padding-right: 40px;
}

.btn.in-paragraph {
  margin-bottom: 15px;
}

.article-text {
  font-family: georgia, "Times New Roman", times, serif;
  font-size: 19px;
  padding-top: 16px;
  line-height: 1.80;
  letter-spacing: -.003em;
  padding-left: 50px;
  padding-right: 30px;
}

.georgia{
  font-family: georgia, "Times New Roman", times, serif!important;
  line-height: 1.8;
  font-size: 19px;
}

.georgiaCard{
  font-family: georgia, "Times New Roman", times, serif!important;
  line-height: 1.6;
  font-size: 16px;
}

.load-text {
  font-family: georgia, "Times New Roman", times, serif;
  font-size: 19px;
  line-height: 1.80;
  display: inline;
  letter-spacing: -.003em;
}

.hoverclass {
  background-color: #ab68ca;
}

.article-top {
  word-wrap: break-word;
  word-break: break-word;
  outline: 0;
  padding-top: 70px;
}

.content .col-lg-4 {
  margin-bottom: 20px;
}

.content h2 {
  font-weight: normal;
}

.center-heading {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.top-menu {
  position: relative;
  left: -10px;
  padding-top: 10px;
}

.logo {
  height: 30px;
  position: relative;
  top: -10px;
}

.side-logo {
  margin-top: 20px;
}

.bottom-logo {
  height: 30px;
  margin-top: 40px;
}

.section {
  padding: 50px 65px;
}

.section-first {
  padding-top: 0;
}

.section-first-text {
  padding-top: 65px;
}

.section-second-text {
  padding-top: 35px;
}

.title {
  font-weight: 800;
  line-height: 1;
}

.section-heading {
  font-size: 48px;
  font-weight: lighter;
  line-height: 1.2;
}

.sub-heading {
  font-size: 38px;
  font-weight: 300;
  line-height: 1.2;
}

.section-heading.center-heading {
  margin-bottom: 15px;
}

.section-heading.margin-top-0 {
  margin-top: 0;
}

.align-right-except-xs, .align-right {
  text-align: right;
}

.align-left-except-xs, .align-left {
  text-align: left;
}

.row.ideology {
  padding: 0 20px;
}

.ideology, .thanks {
  display: none;
}

img.icon {
  height: 100px;
}

.landing-image {
  padding-top: 20px;
  max-height: 700px;
  height: auto;
  width: auto;
}

a.article1 {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

a.article2 {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

a.article4 {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

a.article1comments {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

a.article2comments {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

a.article3comments {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

a.article4comments {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

.section-col {
  padding: 0 20px;
}

.blue-modal-body {
  background-color: #587A95;
}

input[type='radio'] {
  margin-right: 5px;
}


/* QUOTE
-------------------------------------------------- */

blockquote {
  font-size: 18px;
  font-style: italic;
  width: 500px;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  border-left: none;
  width: auto;
  display: table;
  text-align: left;
}

blockquote:before {
  font-family: Georgia, serif;
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
}

blockquote cite {
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}

.quote {
  display: none;
}


/* FORM
-------------------------------------------------- */

.form-group {
  margin-bottom: 15px;
}

.btn {
  border-width: 2px;
  padding: 10px 50px;
}

.submission.btn.blue:hover {
  background-color: #34495D;
  color: #FFFFFF;
}

.submission.btn.blue:active, .submission.btn.blue:focus {
  background-color: #6287A4;
  color: #FFFFFF;
}

.depolarize-btn.btn.red:hover {
  background-color: #B14242;
  color: #FFFFFF;
}

.depolarize-btn.btn.red:active, .depolarize-btn.btn.red:focus {
  background-color: #DB6061;
  color: #FFFFFF;
}

.submission {
  padding-left: 30px;
  padding-right: 30px;
}

.btn-top {
  margin-bottom: 20px;
}

.nav-tabs>li>a {
  border-radius: 0;
}

#submit-survey {
  margin-left: 30px;
}

.form-control-feedback {
  display: none;
}

.why-form {
  max-width: 80%;
}


/* THEME COLORS
-------------------------------------------------- */

.blue {
  background-color: #587A95
  /*background-color: #6287A4; */
}

.dark-blue {
  background-color: #34495D;
}

.grey {
  background-color: #e9ebee;
}

.red {
  background-color: #DB6061;
}

.dark-red {
  background-color: #B14242;
}

.white-text {
  color: #FFFFFF;
}


/* FOOTER
-------------------------------------------------- */

footer {
  text-align: center;
}

.u-bottom0 {
  bottom: 0!important;
}

.u-sizeFullWidth {
  width: 100%!important;
}

.u-boxShadowTop {
  box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, .0785);
}

.u-borderBox {
  box-sizing: border-box;
}

.u-paddingTop10 {
  padding-top: 10px;
}

.u-paddingBottom10 {
  padding-bottom: 10px;
}

.u-padding6 {
  padding: 6px;
}

.u-paddingLeft26 {
  padding-left: 32px;
}

.u-paddingBottom5 {
  padding-bottom: 5px;
}

.u-backgroundWhite {
  background-color: #fff;
}

.u-zIndexMetabar {
  z-index: 500!important;
}

.u-zIndex {
  z-index: 500!important;
}

.u-flexCenter {
  display: flex!important;
  align-items: center!important;
}

.tealBackground {
  background-color: #0097a7;
}

.black{
  color: black;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 767px) {
  .lead {
    width: auto;
  }
  .section-heading {
    font-size: 50px;
  }
  .submission.btn, .depolarize-btn.btn {
    width: 100%;
  }
  .align-right-except-xs, .align-left-except-xs {
    text-align: center;
  }
  #submit-survey {
    margin-left: auto;
  }
}

@media (max-width: 500px) {
  body {
    padding-top: 10px;
  }
  .title {
    font-size: 4rem;
  }
  /*1rem = 16px*/
  .sub-heading {
    font-size: 2.7rem;
  }
  .section-heading {
    font-size: 3rem;
  }
  .text {
    font-size: 17px;
  }
  .section {
    padding: 50px 30px;
  }
  .icon {
    padding-top: 20px;
  }
}

@media(min-width:768px) {
  #inputEmail {
    width: 216px;
  }
  .lead {
    width: 80%;
  }
  .u-width50 {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .lead {
    width: auto;
  }
  .section-heading {
    margin-top: 90px;
  }
}

@media(min-width:1200px) {}

  @media(max-width:767px) {
    .topic {
      font-size: 18px;
      padding-top: 5px;
    }
    .nav-brand-logo {
      height: 20px;
    }
    .u-height65 {
      height: 40px;
    }
    .u-paddingRight90 {
      padding-right: 10px;
    }
    .u-paddingLeft90 {
      padding-left: 10px;
    }
    .u-height40 {
      height: 37px;
    }
    .load-text {
      font-size: 16px;
    }
    .buttonset {
      margin: 15px 5px 5px 10px;
      font-size: 12px;
    }
    .u-width50 {
      width: 100%;
    }
  }

  @media (max-width:992px) {
    .chart-fixed {
      position: relative;
    }
  }


  /* CONTACT
  -------------------------------------------------- */

  .contact-form {
    background-color: #587A95
  }

  .contact-content {
    height: auto;
  }
